linkedin_jobs_scraper==4.1.1
nltk==3.8.1
pandas==2.2.2
streamlit==1.35.0
transformers==4.41.2
torch==2.3.1
selenium==4.21.0
seleniumbase==4.27.4
webdriver-manager==4.0.1
chromedriver_py==125.0.6422.141
pymongo==4.7.3